* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(43, 42, 42);
}
.sidebar {
    border: 0.2px solid rgb(61, 61, 61);
    width: 20%;
    height: 1200px;
}

.content {
    border: 1px solid black;
    width: 80%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
}

#manager {
    margin-top: 100px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
    font-size: 15px;
}

#user {
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
    font-size: 15px;
}

.find {
    margin-top: 50px
}

#search-img {
    height: 13px;
}

#searchi{
    width: 750px;
    height: 25px;
    margin-left: 90px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    /* background-color: rgb(235, 231, 231); */
    background-color: #a7a6a6;
    border: 1px orangered;
}

.search {
    margin-right: 50px;
    width: 40px;
    background-color: rgb(240, 98, 46);
    box-shadow: 10px;
    transition: none;
    border: 0px;
    height: 25px;
}
.users {
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    height: 390px;
    border: 1px solid black;
    overflow-y: scroll;
    /* color: rgba(255, 255, 255, 0.781); */
    color: rgb(157, 200, 2);

}
#header {
    text-align: center;
    /* border: 1px solid black; */
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);

}

#head {
    font-size: 30px;
}

#managers-list {
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: scroll;
}

#managers-list > div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

#managers-list > div p {
    margin-bottom: 0;
    margin-right: 20px;
}

#managers-list > div input[type="checkbox"] {
    margin-left: auto;
    margin-right: 110px;
}
.permissions{
    margin-top: 100px;
    /* border: 1px solid black; */
    width: 100%;
    height: 210px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
}
#permision-header{
    margin-left: 270px;
    margin-top: 10px;
    font-size: 30px;
}
.permision-form{
    margin-top: 20px;
    margin-left: 120px;
}
#update-permissions-button{
    margin-top: 20px;
    margin-left: 250px;
    height: 50px;
    width: 200px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
}
.form{
    font-size: 20px;
}
#top-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
}
#admin-head{
    margin-left: 350px;
    font-size: 40px;
}
.editter{
    margin-left: 600px;
    position: absolute;
    margin-top: 100px;
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
}
#edit-butt{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(167, 213, 0);
}
#del-butt{
    width: 150px;
    height: 50px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
    font-size: 15px;
}
.deleter{
    position: absolute;
    margin-top: 30px;
    margin-left: 750px;
}
#adder-butt{
    width: 150px;
    height: 50px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
    font-size: 15px;
}
.adder{
    position: absolute;
    margin-top: 30px;
    margin-left: 550px;
}
.edittor{
    margin-bottom: 100px;
}
#details{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 30px;
}
#name{
    margin-bottom: 10px;
    background-color: #a7a6a6;
}
#email{
    background-color: #a7a6a6;
}
#update{
    margin-top: 20px;
    margin-left: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
}
#manager-details{
    margin-top: 0px;
    height: 50px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
    margin-top: 0px;
}
#colors{
    height: 50px;
    background-color: rgb(2, 93, 93);
}
#bot-color{
    background-color: rgb(2, 93, 93);
    margin-top: 278px;
    width: 294px;
    height: 220px;
    position: absolute;
}
#adding{
    margin-right: 100px;
    width: 150px;
}
#add-manager {
    visibility: hidden;
    border: 1px solid black;
    width: 630px;
    height: 350px;
    z-index: 3;
    position: absolute;
    margin-bottom: 180px;
    background-color: rgb(2, 93, 93);
    color: rgb(200, 255, 0);
    margin-left: 100px;
    margin-top: 20px;
}

#manage-name{
    margin-top: 40px;
    margin-left: 120px;
}
#manage-email{
    margin-top: 20px;
    margin-left: 120px;
}
#manage-password{
    margin-top: 20px;
    margin-left: 100px;
}

