<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/admin_login.css">
</head>

<body>
    <div class="login">
        <div class="header">
            <p id="head">USER ADMINISTRATION</p>
        </div>
        <div class="main">
            <form action="">
                <label for="email" style="margin-left: 65px; color: white;">Email:</style></label>
                <br>
                <input type="email" id="email" name="email">
                <br>
                <label for="password" style="margin-left: 65px; color: white;">Password:</label>
                <br>
                <input type="password" id="password" name="password">
                <br>
                <input type="submit" id="submit-button" value="Log in">
            </form>
        </div>
    </div>
    <script src="./static/js/admin_login.js"></script>
</body>

</html>