<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registeration</title>
  <link rel="stylesheet" href="./static/css/register_style.css" />
  <link rel="stylesheet" href="./static/css/output.css">
</head>

<body class="body-class ">
  <div class="register1" style="background-color: rgb(229, 229, 229);">

    <div class="features" style="background-color: darkslateblue;">
      <img src="./static/images/Secure login-rafiki.png" alt="">
    </div>

    <div class="create-account-form">
      <div class="account-form glass-mor">
        <h2 class="text-4xl flex justify-center font-serif">Welcome to <span
            style="color: darkslateblue; margin-left: 5px;"> apni Dukaan</span></h2>
        <br />
        <br />
        <h3 class=" text-2xl flex justify-center font-extrabold">register / login</h3>
        <br />
        <br>
        <form>
          <!-- <label for="personal-contact-number" class="text-2xl">Phone no:</label> -->
          <input type="text" id="personal-contact-number" name="personal-contact-number"
            style="border-radius: 20px; padding: 1.5rem;" 
            placeholder="Enter phone number"/>
          <br />
          <br />

          <button id="login-button" type="submit"
            class="bg-blue-primary hover:bg-blue-200 transition duration-300 ease-in-out"
            style="border-radius: 20px; padding: 0.5rem; color: white; font-size: x-large; background-color: darkslateblue;"
            >
            Send OTP
          </button>

          <br />
          <br />

          <!-- <button
            
              style="
              display: flex;
              justify-content: center;
                width: 100%;
                height: 35px;
                text-align: center;
                border: none;
                color: white;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                background-color: #3f81e0;
                border-radius: 4px;
                
              "
            >
              Send OTP
            </button> -->
        </form>
      </div>
    </div>




  </div>
  <script src="./static/js/login.js"></script>
</body>

</html>