<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/output.css">
    <script src="./static/js/main.js" type="module" defer></script>
    <title>Control Panel</title>
</head>

<body style="overflow-x: hidden;">
    <div id="header-container" >
        <img id="hamburger-icon" src="./static/images/hamburgar_icon.svg">
        <div id="search-container">
            <img id="search-icon" src="./static/images/search_icon.svg">
            <input placeholder="search" id="search-input">
        </div>
        <div id="header-buttons-container">
            <!-- <button><img src="./static/images/notification_icon.svg"></button>
            <button><img src="./static/images/theme_changer_icon.svg"></button> -->
        </div>
    </div>

    <div id="sidebar-panel" >
        <div id="sidebar-buttons-container">
            <div id="dashboard-button" class="sidebar-buttons"><img src="./static/images/dashboard_icon.svg">Dashboard</div>
            <div id="products-button" class="sidebar-buttons"><img src="./static/images/products_icon.svg">Products</div>
            <div id="add-product-button" class="sidebar-buttons"><img src="./static/images/add_product_icon.svg">Add Item</div>
            <div id="sales-button" class="sidebar-buttons"><img src="./static/images/sales_icon.svg">Sales</div>
            <div id="gateway-button" class="sidebar-buttons"><img src="./static/images/delivery_icon.svg">Delivery</div>
            <div id="profile-button" class="sidebar-buttons"><img src="./static/images/profile_icon.svg">Profile</div>
        </div>
    </div>
    <div id="content-block" class="mx-0">
    </div>
</body>

</html>

