<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="./static/css/single_product.css">
  </head>
  <body>
    <div class="single-order-detail" >
      <header class="header">
        <div class="sales">
          <div class="sales-child"></div>
          <h3 class="order-detail">Order detail</h3>
        </div>
      </header>
      <div class="order-id">
        <div class="order-id-child"></div>
        <div class="order-id1">Order id :</div>
        <div class="ghg34">#GHG34</div>
      </div>
      <div class="customer-details">
        <div class="customer-details-child"></div>
        <div class="customer-details-wrapper">
          <div class="customer-details1">Customer details</div>
        </div>
        <div class="customer-details-item"></div>
        <div class="name-text-wrapper">
          <div class="name-text">
            <div class="name">
              <!-- <img
                class="product-label-icon"
                loading="lazy"
                alt=""
                src="./static/images/avatar.jpg"
              /> -->

              <div class="jonathan-james">Jonathan James</div>
            </div>
            <div class="dettails">
              <div class="email">
                <img
                  class="email-icon"
                  loading="lazy"
                  alt=""
                  src="./static/images/email.svg"
                />

                <div class="jjgmailcom">jj@gmail.com</div>
              </div>
              <div class="mobile">
                <img
                  class="phone-icon"
                  loading="lazy"
                  alt=""
                  src="./static/images/phone.svg"
                />

                <div class="order-processed-label">1********0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shipping-address">
        <div class="shipping-address-child"></div>
        <div class="shipping-address-wrapper">
          <div class="shipping-address1">Shipping address</div>
        </div>
        <div class="shipping-address-inner">
          <div class="frame-child"></div>
        </div>
        <div class="frame-div">
          <div class="jonathan-james-parent">
            <div class="jonathan-james1">Jonathan James</div>
            <!-- <div class="div">1********0</div> -->
          </div>
        </div>
        <div class="ag-rocky-mount-chowk-ahmedab-wrapper">
          <div class="ag-rocky-mount-container">
            <p class="ag-rocky-mount">34AG, Rocky mount, chowk</p>
            <!-- <p class="ahmedabad-11111">Ahmedabad - 11111</p> -->
            <p class="india">India</p>
          </div>
        </div>
      </div>
      <div class="payment-details">
        <div class="payment-details-child"></div>
        <div class="payment-details-wrapper">
          <div class="payment-details1">Payment details</div>
        </div>
        <div class="payment-details-item"></div>
        <div class="details-list-wrapper">
          <div class="details-list">
            <div class="transactions">
              <!-- <div class="transactions1">Transactions :</div>
              <div class="vhgf735271600123">#VHGF***735271600123</div> -->
            </div>
            <div class="payment">
              <div class="payment-method">Payment method :</div>
              <div class="paytm">Paytm</div>
            </div>
            <div class="card-holder-name">
              <div class="card-holder-name1">Card holder name :</div>
              <div class="joseph-james">Joseph James</div>
            </div>
            <!-- <div class="card-no">
              <div class="card-number">Card number :</div>
              <div class="div1">**** **** **65</div>
            </div> -->
            <div class="amt">
              <div class="total-amount">Total amount :</div>
              <div class="div2">₹ 1,6</div>
            </div>
          </div>
        </div>
      </div>
      <section class="product-details">
        <div class="product-details1">Product details</div>
        <div class="product-details-inner">
          <div class="product-parent">
            <div class="product">Product</div>
            <div class="frame-parent">
              <div class="product-id-wrapper">
                <div class="product-id">Product id</div>
              </div>
              <div class="price-wrapper">
                <div class="price">Price</div>
              </div>
              <div class="quantity">Quantity</div>
              <div class="total-amount1">Total amount</div>
            </div>
          </div>
        </div>
        <div class="products-list-wrapper">
          <div class="products-list">
            <div class="div3">
              <img
                class="child"
                loading="lazy"
                alt=""
                src="./static/images/shoes.svg"
              />

              <div class="adidas-mens-restound-m-running-wrapper">
                <div class="adidas-mens-restound">
                  Adidas Mens Restound M Running Shoe
                </div>
              </div>
              <div class="inner">
                <div class="dr-parent">
                  <div class="dr">#3453DR</div>
                  <div class="div4">₹ 1,699</div>
                  <div class="div5">1</div>
                  <div class="div6">₹ 1,699</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="total-bill">
        <div class="total-bill-child"></div>
        <div class="total-bill1">Total bill</div>
        <div class="bill-list">
          <div class="sybtotal">
            <div class="subtotal">Subtotal :</div>
            <div class="div16">₹ 6,226</div>
          </div>
          <div class="discounts">
            <div class="discounts-celzon74">Discounts (CELZON74) :</div>
            <div class="div17">₹ 1,382</div>
          </div>
          <div class="tax">
            <div class="tax1">Tax :</div>
            <div class="div19">₹ 351</div>
          </div>
        </div>
        <div class="total-bill-item"></div>
        <div class="total-amount-parent">
          <b class="total-amount2">Total Amount :</b>
          <b class="b">₹ 5,250</b>
        </div>
      </div>
    </div>
    <script src="./static/js/single_product.js"></script>
  </body>
</html>
